.warning{
    --info-background-color: rgba(250, 204, 21, 0.3);
    --info-border-color: rgb(234 88 12);
    --info-color: rgb(249 115 22);
}

.info{
    --info-background-color: rgba(96, 165, 250, 0.3);
    --info-border-color: rgb(37 99 235);
    --info-color: rgb(59 130 246);
}

.donot{
    --info-background-color: rgba(248, 113, 113, 0.3);
    --info-border-color: rgb(220 38 38);
    --info-color: rgb(239 68 68);
}

.do{
    --info-background-color: rgba(74, 222, 128, 0.3);
    --info-border-color: rgb(22 163 74);
    --info-color: rgb(34 197 94);
}

.outer-box{
    background-color: var(--info-background-color);
    border-color: var(--info-border-color)
}

.icon{
    color: var(--info-color)
}